.page {
  min-width: 303px;
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
  font-family: "Inter",Arial,sans-serif;
  color: rgb(0, 0, 0);
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.section__title {
  max-width: 90%;
  margin: auto;
  padding: 0;
  border-bottom: 1px solid #000;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px; 
}

.section__link {
  transition: opacity 0.3s;
}

.section__link:hover {
  cursor: pointer;
  opacity: 0.3;
}

.form__button_disabled {
  background: #c6c7cc;
}


.form__item-error {
  color: red;
  margin-bottom: 24px;
  font-size: 12px;
}

@media screen and (max-width: 502px) {
  .section__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px; 
  }
  }